body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content-centre {
    justify-content: center;
}

.align-items-centre {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.round {
    border-radius: 50%;
}

.profile-icon {
    max-height: 50px;
    max-width: 50px;
}

.pl-1 {
    padding-left: .5rem;
}

.pr-1 {
    padding-right: .5rem;
}