body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content-centre {
    justify-content: center;
}

.align-items-centre {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}
